

github "Alamofire/Alamofire" ~> 3.0
github "MagicalPanda/MagicalRecord"
github "gitdoapp/sugarrecord"
github "SwiftyJSON/SwiftyJSON"
github "onevcat/Kingfisher" >= 1.8
github "tristanhimmelman/AlamofireObjectMapper" ~> 2.1
